---
layout: default
title: About me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>About me</h1>
      <hr>
      TBD<br><br>
      
      Email: mggumin@gmail.com <br><br>

      所使用的主题：<a href="https://github.com/lszero/zero-theme" target="_blank">zero-theme</a>
      <br><br>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
