---
layout: default
title: Tag
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>About me</h1>
      <hr>
      外貌协会会长，颜控，手控，声控，长腿控ヾ(o◕∀◕)ﾉヾ <br>
      目前在做造轮子工作，以卖代码为生 (￣.￣) <br>
      兴趣爱好广泛，然而均不精通。 <br>
      人生终将毁于电子产品。 <br><br>

      Email: lszero@hotmail.com <br><br>

      所使用的主题：<a href="https://github.com/lszero/lszero.github.io" target="_blank">https://github.com/lszero/lszero.github.io</a>
      <br><br>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="sidebar-content col-md-3">
      {% include {{ site.baseurl }}main_sidebar.html %}
    </div>
  </div>
</div>
