---
layout: default
title: About me
---

<div class="container">
  <div class="row-fluid main">
    <div class="content posts col-md-9">
      <h1>About me</h1>
      <hr>
      Email: mggumin@gmail.com <br><br>
	  <h3>Research</h3>
	  Natural Language Processing<br><br>
	  
	  <h3>Publications</h3>
	[1]	Xiaorong Zhu, Jiaxian Yan, <b>Min Gu</b>, Tianyang Liu, Yafei Dai, Yanhui Gu, Yafei Li. Activity Origin and Design Principles for Oxygen Reduction on Dual-Metal-Site Catalysts: A Combined Density Functional Theory and Machine Learning Study. <i>Journal of Physical Chemistry Letters</i>, 2019, 10(24): 7760-7766.<br>
	[2]	吴泰中, <b>顾敏</b>, 周俊生, 曲维光, 李斌, 顾彦慧. 基于转移神经网络的中文AMR解析. <i>中文信息学报</i>, 2019, 33(4): 1-11.<br><br>
	[3]	Yanhui Gu, <b>Min Gu</b>*, Yi Long*, Guandong Xu, Zhenglu Yang, Junsheng Zhou, Weiguang Qu*. An Enhanced Short Text Categorization Model with Deep Abundant Representation. <i>World Wide Web: Internet and Web Information Systems</i>, 2018, 21(6): 1705-1719.<br><br>
	[4]	<b>顾敏</b>, 郭庆, 曹野,等. 基于结构和文本特征的网页分类技术研究. <i>中国科学技术大学学报</i>, 2017, 47(4):290-296.<br><br>
	[5]	朱峰, <b>顾敏</b>, 郑好, 顾彦慧, 周俊生, 曲维光. 基于知识图谱的未登录词语义研究. <i>计算机科学</i>, 2017, 44 (1): 95-99,127. <br><br>
	[6]	曲维光, 周俊生, 吴晓东, 戴茹冰, <b>顾敏</b>, 顾彦慧. 自然语言句子抽象语义表示AMR研究综述. <i>数据采集与处理</i>, 2017, 32(001): 26-36.<br><br>
	[7]	<b>Min Gu</b>, Yanhui Gu*, Fang Xu, Bin Li, Bin Zhao, Weiguang Qu*. Research on Chinese Noun + Noun Compounds Semantic Classification and Automatic Interpretation, <i>ICICELB</i>, 2016, 7(1): 173-179.<br><br>
	[8]	<b>Min Gu</b>, Feng Zhu, Qing Guo, Yanhui Gu*, Junsheng Zhou, Weiguang Qu. Towards Effective Web Page Classification. In <i>Proceedings of BESC</i>, 2016: 1-2.<br><br>
	[9]	Taizhong Wu, Jian Liu, Xuri Tang, <b>Min Gu</b>, Yanhui Gu, Junsheng Zhou, Weiguang Qu*. Syntactic Categorization and Semantic Interpretation of Chinese Nominal Compounds. In <i>Proceedings of NLPCC</i>, 2016: 51-62.<br><br>
	[10]	Weiguang Qu, Rubing Dai, Taizhong Wu, <b>Min Gu</b>, Yanhui Gu, Junsheng Zhou. Research on interpretation of nominal compound. In <i>Proceedings of BESC</i>, 2016: 1-6.<br><br>
	  
	  <br><br>
      Theme：<a href="https://github.com/lszero/zero-theme" target="_blank">zero-theme</a>
      <br><br>
      {% include {{ site.baseurl }}comments.html %}
    </div>

    <div class="col-md-3 main-sidebar">
      {% include {{ site.baseurl }}sidebar_main.html %}
    </div>
  </div>
</div>
