/*---------------------- main-sidebar ------------------------*/

.main-sidebar {
    margin-top: 20px;
}
.main-sidebar .sidebar-content {
    margin-left: 20px;
}

.main-sidebar .author-avatar img {
    border-radius: 50%;
    max-width: 180px;
    border: 1px solid #f2f3f3;
    padding: 5px;
    margin: 10px auto;
    display: block;
}

.brief-intro {
    margin-bottom: 6px;
}

.brief-intro .author-name {
    font-size: 25px;
    margin-bottom: 6px;
    text-align: center;
}

.brief-intro .author-bio {
    text-align: center;
    color: #333;
}

/*--------- site-state-count ----------*/
.site-state {
    text-align: center;
    padding: 5px 0;
}

.site-state a {
    color: #777;
}
.site-state a:hover,
.site-state a:focus {
    color: #333;
    text-decoration: none;
}

.site-state-item {
    display: inline-block;
    padding: 0 15px;
    border-left: 1px solid #eee;
}
.site-state-item:first-child {
    border-left: none;
}

.site-state-item-count {
    display: block;
}

/*--------- social-icons ----------*/
.social-icons { 
    text-align: center;
    margin-bottom: -10px;
}

.social-icons .fa-lg{ 
    font-size: 14px;
}

.social-icons .fa-github, .social-icons .fa-weibo, .social-icons .fa-twitter, .social-icons .fa-twitter-square, .social-icons .fa-circle {
    color: #777;
}

.social-icons .btn {
    padding: 6px 4px;
    width: 40px;
}


/*--------- list-group ----------*/

.list-group-item > .badge {
    float: right;
    background-color: #999;
}

.list-group-item a {
    color: #4183c4;
}

