/*---------------------- post-sidebar ------------------------*/

.post-sidebar {
    background-color: #fff;
    margin-top: 20px;
}
.post-sidebar .sidebar-content {
    margin-left: 20px;
}

.headers-sidenav {
    padding: 20px 10px;
    padding-left: 0px;
    border: 1px solid #EAEAEA;
    width: 250px;
}

/* All levels of nav */
.header-list-sidebar .nav > li > a {
    display: block;
    padding: 2px 20px;
    font-weight: bold;
    color: #767676;
    /*no wrap*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: normal;
}

.header-list-sidebar .nav > li > a:hover,
.header-list-sidebar .nav > li > a:focus {
    color: #87CEFA;
    text-decoration: none;
    background-color: transparent;
    border-left: 2px solid #87CEFA;
}
.header-list-sidebar .nav > .active > a,
.header-list-sidebar .nav > .active:hover > a,
.header-list-sidebar .nav > .active:focus > a {
    font-weight: bold;
    color: #5bc0de;
    background-color: transparent;
    border-left: 2px solid #5bc0de;
}

/* Nav: second level (shown on .active) */
.header-list-sidebar .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 35px;
}
.header-list-sidebar .nav .nav > li > a:hover,
.header-list-sidebar .nav .nav > li > a:focus {

}
.header-list-sidebar .nav .nav > .active > a,
.header-list-sidebar .nav .nav > .active:hover > a,
.header-list-sidebar .nav .nav > .active:focus > a {

}

/* Nav: 3rd level (shown on .active) */
.header-list-sidebar .nav .nav .nav {

}
.header-list-sidebar .nav .nav .nav > li > a {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 50px;
}
.header-list-sidebar .nav .nav .nav > li > a:hover,
.header-list-sidebar .nav .nav .nav > li > a:focus {

}
.header-list-sidebar .nav .nav .nav > .active > a,
.header-list-sidebar .nav .nav .nav > .active:hover > a,
.header-list-sidebar .nav .nav .nav > .active:focus > a {

}