<header class="header">
  <!-- Navigation -->
  <nav class="navbar navbar-default .navbar-static-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ site.baseurl }}/" style="color:#333">{{ site.title }}</a>
        <p class="navbar-text">God does not play dice.</p>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-search">
            <form class="navbar-form navbar-left" role="search" id="search-form">
              <div class="input-group">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit" style="color:#777">Go!</button>
                  </span>
                  <input type="text" id="search-input" class="form-control" placeholder="Search">
                  
              </div>
            </form>
          </li>
          <li>
            <a href="{{ site.baseurl }}/archives.html">Archives</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/categories.html">Categories</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/tags.html">Tags</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/about.html">About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
