/*--------- back-to-top link ---------*/
.back-to-top {
    background-color: #f0ad4e;
    position: fixed;
    color: #FFFFFF;
    border-radius: 3px;
    opacity: 0.7;
    bottom: 20px;
    display: block;
    padding: 2px 14px;
    font-size: 24px;
    right: 20px;
}

a.back-to-top {
    text-decoration: none;
}

a.back-to-top:hover,
a.back-to-top:focus {
    opacity: 1;
    color: #fff;
}