@import "my/post.scss";

@import "my/sidebar.scss";
@import "my/sidebar_main.scss";
@import "my/sidebar_post.scss";
@import "my/sidebar_listgroup.scss";

@import "my/archives.scss";

@import "my/back_to_top.scss";

/*---------------------- main ------------------------*/

$height-footer: 40px;

html {
    height: 100%;
}

body {
    min-height: 100%;
    position: relative;
    padding-bottom: $height-footer;
}

p {
    color: #515151;
}

strong {
    font-weight: bolder;
}

pre.highlight {
    font-size: 90%;
    background: #272822;
}

/*---------------------- footer copyright ------------------------*/

.footer {
    bottom: 0;
    width: 100%;
    position: absolute;
    height: $height-footer;
    background-color: #F8F8F8;
    border-top: 1px solid #EAEAEA;
}

.footer .copyright {
    font-size: 14px;
    line-height: 18px;
    padding: 10px 0px;
    margin: 0 auto;
    display: block;
    color: #404040;
    text-align: center;
}